<div class="border rounded p-3 mb-3">
  <!-- Titre de la rubrique -->
  <h3 class="mb-3 text-center">Santé</h3>

  <!-- Sélecteur de date -->
  <div class="d-flex align-items-center mb-2">
    <div class="flex-grow-1 mx-2">
      <label for="dateSelector" class="form-label visually-hidden"
        >Date :</label
      >
      <input
        type="date"
        id="dateSelector"
        class="form-control text-center"
        value="{{ todayDate }}"
      />
    </div>
  </div>

  <!-- Liste des informations -->
  <ul class="list-group">
    @for(healthAct of healthActList(); track healthAct.id) {
    @if(healthAct.healthActType === 1) {
    <li class="list-group-item">
      <span style="font-weight: bold">Température:</span>
      {{ healthAct.temperature }}°C à
      {{ healthAct.hour | timeToHourFormat }}
    </li>
    } @if(healthAct.healthActType === 2) {
    <li class="list-group-item">
      <span style="font-weight: bold">Médicaments:</span>
      {{ healthAct.quantity }}g de
      {{ healthAct.medicaments }}
      à
      {{ healthAct.hour | timeToHourFormat }}
    </li>
    } }
  </ul>
</div>
