<div class="border rounded p-3 mb-3">
  <!-- Titre de la rubrique -->
  <h3 class="mb-3 text-center">Sommeil</h3>

  <!-- Sélecteur de date -->
  <div class="d-flex align-items-center mb-2">
    <div class="flex-grow-1 mx-2">
      <label for="dateSelector" class="form-label visually-hidden"
        >Date :</label
      >
      <input
        type="date"
        id="dateSelector"
        class="form-control text-center"
        value="{{ todayDate }}"
      />
    </div>
  </div>

  <!-- Liste des informations -->
  <ul class="list-group">
    @for(sleep of sleepList(); track sleep.id) {
    <li class="list-group-item">
      De {{ sleep.begin | timeToHourFormat }} à
      {{ sleep.end | timeToHourFormat }}. Total:
      {{ sleep.begin | timeDiff : sleep.end }}.
    </li>
    }
  </ul>
</div>
