<div class="border rounded p-3 mb-3">
  <!-- Titre de la rubrique -->
  <h3 class="mb-3 text-center">Sommeil</h3>

  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">Début</th>
        <th scope="col">Fin</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      @for(sleep of sleepList(); track sleep.id) {
      <tr class="text-center">
        <td>{{ sleep.begin | timeToHourFormat }}</td>
        <td>{{ sleep.end | timeToHourFormat }}</td>
        <td>{{ sleep.begin | timeDiff : sleep.end }}</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="container mt-4 border rounded">
    <h5 class="mt-2 mb-3 text-center">Ajouter des horaires de sommeil</h5>
    <div class="row g-3 mb-3 align-items-end d-flex">
      <!-- Sélecteur de l'heure de début -->
      <div class="col-auto">
        <label class="form-label">Début</label>
        <div class="d-flex align-items-center">
          <select class="custom-select-small" name="endHour">
            <option *ngFor="let hour of hours" [value]="hour">
              {{ hour }}
            </option>
          </select>
          <span class="mx-1">h</span>
          <select class="custom-select-small" name="endHour">
            <option *ngFor="let minute of minutes" [value]="minute">
              {{ minute }}
            </option>
          </select>
          <span class="mx-1">min</span>
        </div>
      </div>

      <!-- Sélecteur de l'heure de fin -->
      <div class="col-auto">
        <label class="form-label">Fin</label>
        <div class="d-flex align-items-center">
          <select class="custom-select-small" name="endHour">
            <option *ngFor="let hour of hours" [value]="hour">
              {{ hour }}
            </option>
          </select>
          <span class="mx-1">h</span>
          <select class="custom-select-small" name="endHour">
            <option *ngFor="let minute of minutes" [value]="minute">
              {{ minute }}
            </option>
          </select>
          <span class="mx-1">min</span>
        </div>
      </div>

      <div class="col-auto justify-content-end">
        <button type="submit " class="btn btn-primary mb-2">Ajouter</button>
      </div>
    </div>
  </div>
</div>
