<div class="border rounded p-3 mb-3">
  <!-- Titre de la rubrique -->
  <h3 class="mb-3 text-center">Soins</h3>

  <!-- Liste des informations -->
  <ul class="list-group">
    @for(careAct of careActList(); track careAct.id) { }
    <li class="list-group-item">Information 1</li>
    <li class="list-group-item">Information 2</li>
    <li class="list-group-item">Information 3</li>
  </ul>

  <div class="container mt-4 border rounded">
    <h5 class="mt-2 mb-3 text-center">Ajouter un nouvel acte de soin</h5>
    <form (ngSubmit)="onSubmit()">
      <fieldset class="mb-4">
        <div class="d-flex gap-3">
          <div *ngFor="let option of careActOptionList; let i = index">
            <input
              type="checkbox"
              class="form-check-input me-2"
              [checked]="selectedCareAct === option"
              (change)="onCareActCheckboxChange(option, $event)"
              id="option-{{ i }}"
            />
            <label for="option-{{ i }}">{{ option }}</label>
          </div>
        </div>
      </fieldset>

      <fieldset class="mb-4">
        <div class="d-flex gap-3">
          <label *ngFor="let option of careDetailOptionList; let i = index">
            <input
              type="checkbox"
              class="form-check-input me-2"
              [checked]="selectedCareDetail === option"
              (change)="onCareDetailCheckboxChange(option, $event)"
              id="option-{{ i }}"
            />
            <label for="option-{{ i }}">{{ option }}</label>
          </label>
        </div>
      </fieldset>

      <div class="mb-2">
        <label for="commentaire">Commentaire :</label><br />
        <textarea
          id="commentaire"
          name="commentaire"
          class="form-control"
          rows="4"
          placeholder="Votre commentaire..."
        ></textarea>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit " class="btn btn-primary mb-2">Ajouter</button>
      </div>
    </form>
  </div>
</div>
