<div class="border rounded p-3 mb-3">
  <!-- Titre de la rubrique -->
  <h3 class="mb-3 text-center">Repas</h3>

  <!-- Liste des informations -->
  <ul class="list-group">
    <li class="list-group-item">Information 1</li>
    <li class="list-group-item">Information 2</li>
    <li class="list-group-item">Information 3</li>
  </ul>

  <div class="container mt-4 border rounded">
    <h5 class="mt-2 mb-3 text-center">Ajouter un repas</h5>
    <form (ngSubmit)="onSubmit()">
      <!-- <div class="mb-2">
        <label for="commentaire">Commentaire :</label><br />
        <textarea
          id="commentaire"
          name="commentaire"
          class="form-control"
          rows="4"
          placeholder="Votre commentaire..."
        ></textarea>
      </div> -->

      <div class="d-flex justify-content-end">
        <button type="submit " class="btn btn-primary mb-2">Ajouter</button>
      </div>
    </form>
  </div>
</div>
